
  <div>
    <input type="checkbox" (click)="checkboxClick()"  />
    <span>Filtre par Disponibilité</span>
  </div>
  <article id="book">
  <div *ngFor="let book of listInfoBook;index as i">
    <p>

      <span *ngIf="book.avaible || !checkboxClicked" (click)="bookTitleClicked(i)">{{book.title}}</span>
      <span id="avaible" *ngIf="book.avaible">Dispo</span>
      <span id="not-avaible"*ngIf="!book.avaible && !checkboxClicked">Non dispo</span>


  </div>


</article>
  <app-detail-book id="book_detail" *ngIf="infoSelected" [data]="listeInfoBook[detailInfoSelected]"></app-detail-book>
  <!--{{checkboxClicked}}-->
